

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            width: 1500px;
            height: 900px;
            display: flex;
            justify-content: space-between;
        }
        .half {
            width: 750px;
            height: 900px;
            background-color: lightblue;
        }
        .left-half {
            background-color: lightcoral;
        }
        .right-half {
            background-color: lightgreen;
        }
    </style>
    <title>Left and Right Halves</title>
</head>
<body>
    <div class="container">
        <div class="half left-half"></div>
        <div class="half right-half"></div>
    </div>
</body>
</html>
